* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px 0;
}

.product-title::after {
  content: "SALE";
  color: #fff;
  background-color: red;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  left: -30px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT COLORS */

.colors {
  margin-top: 25px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: rgb(43, 43, 202);
}

.color-red {
  background-color: rgb(207, 28, 28);
}

.color-yellow {
  background-color: rgb(250, 205, 3);
}

.color-green {
  background-color: rgb(65, 170, 24);
}

.color-brown {
  background-color: rgb(136, 60, 60);
}

/* PRODUCT DETAILS */

.details-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.btn-add-cart {
  color: white;
  background-color: black;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.btn-add-cart:hover {
  color: black;
  background-color: white;
}

/* FLOAT LAYOUT */
.product-image {
  width: 225px;
  float: left;
}

.product-info {
  width: 350px;
  float: left;
  padding: 40px;
}

.product-details {
  width: 242px;
  margin-top: 15px;
  float: right;
}

.price {
  float: left;
  margin-bottom: 15px;
}

.shipping {
  float: right;
  padding-top: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.clearfix {
  content: "";
  display: block;
  clear: left;
}
